{% extends "base.html" %}

{% block title %}Zaboravljena šifra{% endblock %}


{% block body %}

	<h1 style="color: #3289c8;">Zatraži novu lozinku.</h1>
	<form method="post" action="/password/request-reset">
		
		<div class="form-group">
			<label for="inputEmail">Adresa</label>
			<input {% if email %} value='{{email}}'{% endif %} type="email" id="inputEmail" name="email"
			placeholder="Adresa" autofocus required class="form-control"/>
		</div>
		
		<button type="submit" class="btn btn-primary">Zatraži</button>
		<a href="/login" style="vertical-align: bottom;">Odustani</a>
	
	</form>

{% endblock %}
